@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.her {
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
   url('/assets/images/charm.jpg');
  background-position: center;
  background-size: cover;
}
.gridbg{
  background-image:
   url('/assets/images/orange.jpg');
  background-position: center;
  background-size: cover;
}
.gridbgr{
  background-image:
   url('/assets/images/red.jpg');
  background-position: center;
  background-size: cover;
}
